.body{
  width: 80vw;
  height: 100vh;
  background-color: white;
  color: black;
}

.message__bottom{
  overflow-y: scroll;
  max-height: 69vh;
  height: 69vh;
  padding: 60px;
  box-shadow: -1px -1px 0 0 #333333;
}

.app__explination__top{
  display: flex;
  align-items: center;
  justify-content:left;
}

.bot__icon{
  color: white;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: solid 1px transparent;
  background-color: #1A1D21;
  border-radius: 5px;
}

.message__bottom__from__bot{
  margin-left: 60px;
}

.message__bottom__from__bot__list{
  list-style-type: none;
}

.message__bottom__from__bot__contact__mail{
  text-decoration: none;
  color: #1D9BD1;
}

@media (max-width: 720px) {
  .body {
    width: 70vw;
  }
}

@media (max-width: 540px) {
  .body{
    width: 100vw;
  }

  .message__bottom{
    height: 80vh;
    padding: 60px 20px 0 20px;
  }
}
