.body{
  background-color: #2B2A30;
  width: 80vw;
  height: 80vh;
}

.message{
  padding: 20px;
}

.message__top{
  padding: 20px;
  background-color: #1A1D21;
  box-shadow: 0 1px 0 0 #333333;
}

@media (max-width: 720px) {
  .body {
    width: 70vw;
  }
}

@media (max-width: 540px) {
  .body{
    height: 80vh;
    width: 100vw;
  }
}
