@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Krub:wght@300&family=Mulish:wght@200&family=Pacifico&family=Roboto&display=swap');

/* color: https://coolors.co/d64045-e9fff9-007a5a-9ed8db-1d3354 */

.body{
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #D1D2D3;
}

@media (max-width: 720px) {
  .body__messages {
    width: 80vw;
  }
}

@media (max-width: 540px) {
  .body{
    display: flex;
    flex-direction: column;
  }
}
